@import "partials/exercise1";
@import "partials/exercise2";
@import "partials/exercise3";

.exercise1{
    display: flex;
}
.text1{
    background: #ff6347;
}
.loading1 {
    width: 40px;
    height: 80px;
    border-radius: 30%;
    border: 2px solid grey;
    position: relative;
    div {
      width: 20px;
      height: 20px;
      top: 0;
      left: 10;
      border-radius: 50%;
      position: absolute;
      background-color: white;
      animation: loader1 1s 1.5s ease infinite alternate,
        identifier 2s 1.5s ease infinite alternate forwards;
      @keyframes loader1 {
        from {
          position: absolute;
          top: 60%;
        }
        to {
          position: absolute;
          bottom: 0;
        }
      }
      @keyframes identifier {
        0% {
          height: 30px;
        }
        50% {
          height: 20px;
        }
        100% {
          height: 30px;
        }
      }
    }
  }
  
/*Loading 2 ka fillu ketu*/

.loading2{
    @keyframes spinner {
      to {transform: rotate(360deg);}
    }
    &:before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      width: 60px;
      height: 60px;
      margin-top: -30px;
      margin-left: -30px;
      border-radius: 50%;
      border: 1px solid rgba(218, 209, 209, 0.685);
      border-top-color: #fff;
      animation: spinner .6s linear infinite;
    }
  

    @keyframes loading2{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
            }
    }
}


/* Loading 3 ka fillu*/
.loading3{
    span{
        padding: 3px;
        height: 40px;
        background-color: #fff;
        display: inline-block;
        margin-left: 2px;
        animation: scaling 2.5s ease-in-out infinite;
    }


@keyframes scaling {
0%, 100%{
    transform: scale(0.2);
}
50%{
    transform: scale(1.1);
}
}
span:nth-child(0 ){
    animation-delay: 0.2s;
}
span:nth-child(1 ){
    animation-delay: 0.4s;
}
span:nth-child(2){
    animation-delay: 0.6s;
}
span:nth-child(3 ){
    animation-delay: 0.8s;
}
span:nth-child(4){
    animation-delay: 0.10s;
}
}